:root {
    --tituloHeight: 40px;
    --miRadio: 7px;
    --color: rgba(51, 99, 51, 0.568);
}

* {
    padding: 0;
    margin: 0;
}

body {
    /* position: relative; */
    background: url(../imagenes/fondo.jpeg) center/cover no-repeat;
}

#nombre {
    display: flex;
    background-color: var(--color);
    position: fixed;
    width: 100%;
    height: var(--tituloHeight);
    margin: 0;
    padding: 0;
    z-index: 2;
}

h1 {
    width: 90%;
    /* padding-left: 25%; */
    color: aliceblue;
    white-space: nowrap;
    text-align: center;
}

#CV {
    width: 10%;
    color: rgb(68, 41, 41);
    text-decoration: none;
    font-size: 20px;
    margin-top: 0.6%;
    padding: 0;
}

#CV:hover {
    color: beige;
}

#miDescripcion {
    padding-top: calc(var(--tituloHeight) + 15px);
    padding-bottom: 30px;
}

#miDescripcion h2 {
    color: rgb(34, 92, 50);
    text-align: center;
}


/* filtros */
#btnBuscar {
    position: absolute;
    top: 8%;
    right: 1%;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: rgb(195, 214, 214);
    background-image: url(../imagenes/lupa.webp);
    background-position: center;
    background-size: contain;
    transition: width 0.1s ease, background-color 2s ease, border-radius 0.5s ease, height 0.5s ease;
}

#btnBuscar:hover {
    background-color: rgb(85, 116, 116);
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

#sectionTags {
    position: relative;
    background-color: rgb(216, 207, 207);
    padding: 1%;
    border-radius: 3%;
    width: 90%;
    margin-bottom: 3%;
    animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
    0% {
        left: 100%;
    }

    100% {
        left: 3%;
    }
}

.inVisible {
    display: none;

}

#sectionTags button {
    /* margin: 1%; */
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border: none;
    border-radius: 10%;
}


#sectionTags input {


    font-size: 25px;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 1%;

}

.btnActivotrue {
    background-color: rgb(168, 75, 75);
    /* color: red; */
}

.btnActivofalse {
    background-color: rgb(193, 188, 223);
    color: rgb(21, 11, 78);
}


#carrusel {
    max-width: 95%;
    margin: 2.5%;
}

article {
    position: relative;
    width: 20%;
    min-width: 230px;
    background-color: var(--color);

    margin: 1px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: var(--miRadio);
    transition: 0.3s width;
    min-height: 470px;
    /* height: 41vw; */
}

article:hover {
    width: 22%;
}

.video {
    border-top-left-radius: var(--miRadio);
    border-top-right-radius: var(--miRadio);
    width: 100%;
    height: 230px;
}

.titulo {
    background-color: var(--color);
    text-align: center;
}

.datos {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4%;
    overflow: hidden
}

.categoria {
    text-align: right;
    font-style: italic;
}

.fecha {
    margin-bottom: 15px;
}

.repo {
    display: flex;
    padding-top: 23px;
}

/* 
.btnContenedor {
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    bottom: 1px;
} */

.boton {
    /* position: absolute; */
    width: 50%;
    color: var(--color);
    /* green; */
    background-color: var(--color);
    /* green; */
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;

}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(71, 168, 71);
}

footer h3 {
    color: white;
    text-align: center;
    margin: 8px;
}