:root {
    --tituloHeight: 40px;
    --miRadio: 7px;
    --color: rgba(51, 99, 51, 0.568);
}

* {
    padding: 0;
    margin: 0;
}

body {
    /* position: relative; */
    background: url(../imagenes/fondo.jpeg) center/cover no-repeat;
}

#nombre {

    top: 0;
    background-color: var(--color);
    position: fixed;
    width: 100%;
    height: var(--tituloHeight);
    margin: 0;
    padding: 0;
    z-index: 2;
}

h1 {
    text-align: center;
    color: aliceblue;
    white-space: nowrap;
}

#miDescripcion {
    padding-top: calc(var(--tituloHeight) + 15px);
    padding-bottom: 30px;
}

#miDescripcion h2 {
    color: rgb(34, 92, 50);
    text-align: center;
}

/* filtros */

#btnBuscar {
    position: absolute;
    top: 8%;
    right: 03%;
    width: 80px;
    height: 80px;
    background: url(../imagenes/lupa.webp)center;
    border: none;
}

#btnBuscar:hover {


    width: 100px;
    height: 100px;
}


#sectionTags {
    position: relative;
    background-color: rgb(216, 207, 207);
    padding: 1%;
    /* justify-content: flex-end; */
    border-radius: 3%;
    width: 90%;
    /* margin-left: 3%; */
    margin-bottom: 3%;
    /* margin-left: 100%; */
    /* transition: left 1s ease; */
    /* display: flex; */
    /* animation: slideLeft 3s forwards; */
    animation: slideLeft 1s forwards;



}

@keyframes slideLeft {
    0% {
        left: 100%;
    }

    100% {
        left: 3%;
    }
}

/* 
.visible {
    display: flex;
    animation: slideLeft 1s forwards;
} */

.inVisible {
    display: none;
}

#sectionTags button {
    /* margin: 1%; */
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border: none;
    border-radius: 10%;
}


#sectionTags input {


    font-size: 25px;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 1%;

}

.btnActivotrue {
    background-color: red;
    /* color: red; */
}

.btnActivofalse {
    background-color: rgb(193, 188, 223);
    color: rgb(21, 11, 78);
}

#sectorCarruseles {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
}

#slide {
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
}

section {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

article {
    position: relative;
    width: 20%;
    min-width: 230px;
    background-color: var(--color);

    margin: 1px;
    margin-bottom: 30px;
    border-radius: var(--miRadio);
    transition: 0.3s width;
    min-height: 470px;
    /* height: 41vw; */
}

article:hover {
    width: 22%;
}

.video {
    border-top-left-radius: var(--miRadio);
    border-top-right-radius: var(--miRadio);
    width: 100%;
    height: 230px;
}

.titulo {
    background-color: var(--color);
    text-align: center;
}

.datos {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4%;
    overflow: hidden
}

.categoria {
    text-align: right;
    font-style: italic;
}

.fecha {
    margin-bottom: 15px;
}

.repo {
    display: flex;
    padding-top: 23px;
}

/* 
.btnContenedor {
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    bottom: 1px;
} */

.boton {
    /* position: absolute; */
    width: 50%;
    color: var(--color);
    /* green; */
    background-color: var(--color);
    /* green; */
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;

}

#CV {
    width: 90%;
    margin-left: 5%;
    /* margin-right:5%; */
    margin-bottom: 20%;
    height: 715vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(71, 168, 71);
}

footer h3 {
    color: white;
    text-align: center;
    margin: 8px;
}